

/*------------------------------------------------------------------------------------------------------------*/

 /*test--------------------------------------------------------------------------------------------------ENTETE--*/
body {
    background: lightgoldenrodyellow;
    margin: 0;
}



.header {
display: flex;
flex-wrap: wrap;
flex: 1 1 160px;
flex-direction: row;
width: 100%;
justify-content: space-between;
align-items: center;
background: mediumorchid;

padding: 10px;

/*display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: mediumorchid;
    padding: 10px;*/
}

.logo {
display: flex;
color: white;
margin-left: 10px;
font-family: "Tangerine", serif;
font-weight: 590;
text-shadow: 4px 4px 4px blue;
font-size: 55px;
font-weight: 500;
}

.menu {
display: flex;
flex-direction: row;
height: 80px;
align-items: center;
color: white;
margin-right: 25px;
margin-left: 10px;
}

/*------------------------------------------------------------------------------------------------ARRIERE PLAN--*/

.link-nav {
color: white;
}

.link-nav:hover {
color: lightblue;
/*text-decoration: none;*/         
}

/*
a:hover {
  text-decoration: none;
  color: deepskyblue;
}
*/

/*------------------------------------------------------------------------------------------------FIL D'ARIANE--*/
.breadcrumb {
width: 400px;
}

.breadcrumb-item {
max-width: 100%;
background: none;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.link-rep {
margin-right: 5px;
margin-left: 5px;
}




/*-----------------------------------------------------------------------------------------------------CONTENT--*/

.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
}


/*.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
}*/


/*--------------------------------------------------------------------------------------------------------MAIN--*/

.main {
display: flex;
flex-direction: column;
width: 70%;
/*95%*/
/*70% du parent "content"*/                  
margin-left: 10px;
background: #fbfbf9;
align-items: center;
border-radius: 5px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);


 /* box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
  background: #fbfbf9;
  border-radius: 5px;*/             
}


.img {
display: flex;
flex-direction: column;
justify-content: left;
margin: 5px;
} 


img {
border-radius: 5px 5px 5px 5px;
/*box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.8);  
/* 2px 4px 10px hsla(0, 0%, 0%, 0.8)*/  
height: 150px;
width: 250px;
}

/*------------------------------------------------------------------------------------------------------FOOTER--*/


/*--------------------------------------------------------------------------------------------------- ASIDE --*/
.aside {
    float: right;
    flex-direction: column;
    width: 26%;
    margin-right: 10px;
    padding: 4px;
    border-radius: 5px;
    height: 590px;
    box-shadow: 0 0 40px rgba(128, 128, 128, 0.2);
}

.aside-nav {
    display: flex;
    flex-direction: column;
    background: #fbfbf9;
    margin-bottom: 20px;
    height: 100px;
    padding: 4px;
    box-shadow: 0 0 40px rgba(128, 128, 128, 0.2);
}

.aside-link {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

/*---------------------------------------------------------------------------------------------------- Footer */
.blockfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7dc95e;
    color: white;
    height: 150px;
    width: 100%;
}

.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: 80px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mention,
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    color: blue;
}

a {
    color: blue;
    text-decoration: none;
}



















/*------------------------------------------------------------------------------------------------- ARTICLE --*/
.article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 50px;
}

/*----------------------------------------------------------------------------------------- Titles and Text --*/
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 12px 0 50px;
}

h1 {
/*display: flex;*/
/*justify-content: center;*/
text-align: center;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  font-size: 2.0em;
}



h2 {
    color: #0000ff;
    font-weight: 600;
    font-size: 1.5em;
}

.title,
strong {
    color: #0000ff;
}

/* Gallery Section */
/*.gallery,*/
.gallery,.section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px 50px;
}

/*.section-2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 250px;
    background: #ffff;
    border: 1px solid red;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px, rgba(0, 0, 0, 0.05) 0 1px 1px;
}*/

.subsection {
    width: 100%;
}

/*.card-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 8px;
}*/

img {
    border-radius: 5px;
}




/*------------------------------------------------------------------------------------------------------------*/

.card {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid grey;
}

h2, p {
  padding: 5px;
}

p {
  height: 100px;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
}

/*--========================================================================================================--*/

.button,
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------------------------------------------------*/

button/*,
.submit[type=submit]*/ {
display: flex;
justify-content: center !important;
align-items: center !important;
margin-top: 15px;
padding: 10px !important;
margin-bottom: 20px;
width: 160px;
height: 30px;
border-radius: 50px !important;
cursor: pointer;
background: mediumorchid;

color: white;
border: none;
}

/*#007bff*/
/*#0145b5*/

button:hover {
background: rgb(211, 85, 163);/*green*/
}

/*--========================================================================================================--*/

/* Responsive */ /*
@media screen and (max-width: 768px) {
  
    .header {
        flex-direction: column;
        font-size: 12px;
        align-content: center;
    }*/
    /*
    .menu {
        flex-direction: column;
        height: auto;
        margin: 0 15px 0 10px;

        background-color: blueviolet;
    }*/





  








 /*--------------------------------------------------------------------------------------------- BREADCRUMB --*/
  .breadcrumb-item {
    width: 100%;
    font-size: 0.5em;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    text-align: justify;
  }
  /*----------------------------------------------------------------------------------------------- CONTENU --*/
  /*
    .content {
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        padding: 5px;
    }

    .main {
        width: 100%;/* 99%*/  /*
        margin: 0px;/*0 20px*/
        /*border: 1px solid blue;*/  /*
    }

    /*---------------------------------------*/  

    .content, .section1 {
        margin: 0;
        border: none !important;
    }

    .img {
      width: 100% !important;
    }

    /*----------------------------------------*/

    .card {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid grey;
      width: 100%;


      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }

    /*----------------------------------------*/

        /* Responsive */
        @media screen and (max-width: 768px) {
          .header {
              flex-direction: column;
              font-size: 12px;
              align-content: center;
          }

          .menu {
              flex-direction: column;
              height: auto;
              margin: 0 15px 0 10px;

              background-color: blueviolet;
          }

       /*--------------------------------------------------------------------------------------------- BREADCRUMB --*/
        .breadcrumb-item {
          width: 100%;
          font-size: 0.5em;
          margin: 10px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: auto;
          text-align: justify;
        }
        /*----------------------------------------------------------------------------------------------- CONTENU --*/
        /*
          .content {
              flex-direction: row;
              align-items: center;
              margin-bottom: 40px;
              padding: 5px;
          }

          .main {
              width: 100%;/* 99%*/  /*
              margin: 0px;/*0 20px*/
              /*border: 1px solid blue;*/  /*
          }

          /*---------------------------------------*/  

          .content, .section1 {
              margin: 0;
              border: none !important;
          }

          .img {
            width: 100% !important;
          }

          /*----------------------------------------*/

          .card {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid grey;
            width: 100%;


            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
          }

          /*----------------------------------------*/




          .aside {
              width: 100%;/**/
              margin-top:0px;/* 20px*/
          }
        }

@media screen and (max-width: 576px) {
    .menu,
    .breadcrumb-item,
    .link-nav,
    nav {
        font-size: 12px;
    }

    .link,
    .link-int,
    span,
    menu {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-content: center;
        align-items: center;
        text-align: left;
        height: 40px;
    }

    .block,
    .contact,
    .mention {
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 576px) {/* and (min-width: 320px)*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;

  margin-bottom: 10px;
}
}

/*@media screen and (max-width: 576px) {/* and (min-width: 320px)*/                            /*

.main,
.aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: 0px;

  padding: 10px;

}
}

/*---------------------------------------------------------------------------------------------------- FOOTER --*/
@media screen and (max-width: 576px) {/*and (min-width: 320px) */

.blockfooter {
font-size: 12px;
display: flex;
flex-direction: column;
width: 100%;
justify-content: center !important;
align-content: center !important;
align-items: center !important;   
padding: 20px;  
height: auto;        
}

.block,
.contact,
.mention,
.text-dark {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
margin: 0px;
}

.footer {
padding: 10px;          
}
}

 





/*-------------------------------------------------------MEDIA QUERY--------------------------------------------*/

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        font-size: 12px;
        align-content: center;
    }
  }

@media screen and (max-width: 320px) and (min-width: 576px) {

.menu,
.breadcrumb-item,
.link-nav,
nav {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 100%;
}
}

@media screen and (max-width: 576px) {

.link,
.link-int,
span,
menu {
  font-size: 12px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  text-align: left;
  height: 40px;
}
}




@media screen and (min-width: 320px) and (max-width: 576px) {
  .menu {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 12px;
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.menu {
  display: flex;
  flex-direction: column;
  height: 40px;
  font-size: 12px;
  max-width: 100%;
  text-align: center;
  background-color: blueviolet;
  height: auto;
  margin-right: 15px;
  margin-left: 10px;
}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  justify-content: center;
  padding: 5px;
}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  border: 1px solid blue;
  background: #fbfbf9;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 99%;
}

.section1 {
  margin: 0;
}

.aside {
  width: 100%;
  margin-right: 0;
  margin-top: 20px;
}
}

/*-- FOOTER --*/
@media screen and (min-width: 320px) and (max-width: 576px) {

.block,
.contact,
.mention,
.text-dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px;
}
}
