/* Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Rajdhani:wght@400;700&display=swap');
*/

body {
background: lightgoldenrodyellow;
background-position: 100% 100%;
/*margin: 0px;*/
font-family: 'Barlow', sans-serif;
}

/* Titres (headlines) */
h1, h2, h3, h4, h5, h6, .title {
font-family: 'Rajdhani', sans-serif;
}

/*.container {
margin: 0px;
width: 100%;
}*/

/*--ENTETE--*//*
.header {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background: mediumorchid;
padding: 10px;
}

/*--BLOCK-LOGO--*//*
.logo {
color: white;
margin-left: 10px;
font-family: "Tangerine", serif;
font-weight: 590; /* Fonctionne avec l'auto-hébergement *//*
text-shadow: 4px 4px 4px blue;
font-size: 3.4375em; /* 55px *//*
}
/*--BLOCK-MENU--*//*
.menu {
display: flex;
flex-direction: row;
align-items: center;
color: white;
/*margin: 0 10px;*/

/*height: 80px;*/
/*align-items: center;*//*
/*color: white;*//*
margin-right: 25px;
margin-left: 10px;
}

/*--ARRIERE-PLAN--*//*
.link-nav {
color: white;
font-size: 16px;
}

.link-nav:hover {
color: lightblue;
}
*/


/*--FIL D'ARIANE--*//*
.breadcrumb-item {
max-width: 100%;
background: none;
margin: 10px 20px;
background: #E9ECEF !important;
padding: 5px; 
}

.link-rep {
margin-right: 5px;
margin-left: 5px;
}
*/
/*--CONTENT--*/
.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
}

/*--MAIN--*/
.main {
float: left;
flex-direction: column;
width: 70%;
/*70% du parent "content"*/
margin-left: 10px;
background: #fbfbf9;
align-items: center;
border-radius: 5px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.calendar {
display: flex;
flex-direction: row;
width: 20%;
}

/*--*/
.button {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}

/*--ARTICLES--*/
.section {
display: flex;
flex-direction: column;
padding: 0px;
width: 100%;
}
/*****************************************************************************//*
.article {
display: flex;
flex-direction: column;
/*align-items: left;*//*
text-align: justify;
padding: 10px;
margin-bottom: 20px;
}*/
/****************************************************************************/

/* Article */
.article {
display: flex;
flex-direction: column;
align-items: center;
text-align: justify;
padding: 10px !important;
margin-bottom: 10px;
}

.title {
display: flex;
justify-content: center;
text-align: center;
margin-top: 12px;
margin-bottom: 50px;
}


.subtitle {
display: flex;
justify-content: center;
text-align: center;
color: #0000ff;
}

h2 {
color: #0000ff;
font-weight: 600;
font-size: 1.5em;
}

h3 {
display: flex;
justify-content: center;
}

h4 {
display: flex;
justify-content: center;
color: #0000ff;
}

.title,
strong {
color: #0000ff;
}

hr {
height: 2px;
color: blue;
}

p {
margin-left: 0px;
color: black;
text-align: justify;
}

/*--LIEN ANCRES--*/
.link-page {
padding: 20px;
width: 20%;
font-size: 18.72px;
font-weight: 600;
margin-bottom: 1px;
}

.link {
display: flex;
flex-direction: row;
text-align: center;
justify-content: center;
margin-top: 10px;
text-decoration: underline;
font-size: 1.2em;
}
/*--*/
.btn-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
width: 100%;
margin-bottom: 10px;
padding: 20px;
}

.link-btn {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30px;
width: 160px; /*150px*/
border-radius: 50px;
text-decoration: none !important;
background-color:mediumorchid!important;/*#0145b5*/
color: white;
}

.link-btn:hover {
background-color:rgb(211, 85, 163)!important;/*green*/
}

/*--*/
/*article {
display: flex;
flex-direction: column;
justify-content: center;
padding: 10px;
margin-bottom: 20px;
text-align: justify;
}*/

/*--BLOCK-E-ICONS--*/
.block-e-icons {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
}

.card-text {
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
}

/*--BLOCK-1 IMAGES--*/
.block1-img {
flex-direction: row;
justify-content: space-around;
align-content: center;
align-items: center;
width: 100%;
border: 2px solid white;
display: flex;
flex-wrap: wrap;
flex: 1;
height: auto;
margin-bottom: 50px;
}

.section-1 {
display: flex;
flex-direction: column;
align-items: center;
width: 270px;
margin: 5px;
height: auto;
border-radius: 5px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
/*--------------------------------------------------*/
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
border-radius: 10px 10px 10px 10px;
border: 1px solid grey;
}

.section-1:hover {
/*--agenda--*/
background: #f0ffff;
/*opacity: 0.5;*/
}

.subsection {
padding: 5px;
}
/*
.card-img-top {
height: 100%;
width: 270px !important;
object-fit: cover;
}*/

.card-img-top {
width: 100%;
height: auto;
object-fit: cover;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
.card-img-top {
width: 100%;
height: auto;
}
}

.img-fig {
height: 150px;
width: 270px;
}

/*--FIGAPTION--*/

figure {
margin-bottom: 0px;
}

figcaption {
/*background-color: #222;*/
background-color: #222;
/*none*/
/*color: #fff;*/
color: black;
font: italic smaller sans-serif;
text-align: center;
height: auto;
/*150px*/
width: 170px;
/*100%*/
font-size: 15px;
border-radius: 5px;
}

img {
border-radius: 5px;
border: 1px solid blue;
/*width: vh;*/
object-fit: cover;
}

/*--BLOCK-2 IMAGES--*/
.block-2-img {
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
align-items: center;
width: 100%;
}

.section-2 {
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
width: 90%;
border: 2px solid white;
margin-bottom: 30px;
}

.card-img {
width: 100%;
object-fit: cover;
height: 65.89785831960461vh;
/*400px*/
}

/*--BAR DE PAGINATION--*/
.paging-bar {
margin-bottom: 50px;
}

/*--BLOCK-3 IMAGES--*/
.block-3 {
display: flex;
flex-direction: column;
align-content: center;
width: 100%;
margin-bottom: 100px;
}

.section-3 {
display: flex;
flex-direction: column;
text-align: center;
width: 600px;
align-content: center;
height: auto;
}

.col {
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
width: 100%;
}

/*-- CAROUSEL--*/
.ctrl-prev {
display: flex;
align-items: center;
justify-content: center;
background-color: #7dc95e;
border-radius: 50%;
border: 1px solid white;
padding: 0px;
width: 20px;
height: 20px;
opacity: 0.7;
}

.ctrl-prev:hover,
.carousel-control-prev-icon {
opacity: 1;
}

.carousel-control-next-icon {
background-color: #7dc95e;
border-radius: 50%;
border: 1px solid white;
}

.content-carousel {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 0px;
margin-top: 0px;
}

.section-carousel {
display: flex;
flex-direction: row;
justify-content: center;
width: 90%;
padding: 10px;
background: #ffff;
border-radius: 15px;
}

.d-block {
width: 100%;
height: 300px;
}

.A {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
color: transparent;
}

/*--*/

.section-5 {
display: flex;
flex-direction: row;
padding: 10px;
}

.card5-img {
width: 170px;
/*50px*/
height: 100px;
/*50px*/
background-color: palegreen;
/*object-fit: cover;*/
}

.article5 {
margin-left: 0px !important;
width: 100%;
text-align: justify;
}



/*--ASIDE--*//*
.aside {
float: right;
flex-direction: column;
width: 26%;
/*22% du parent "content"*//*
margin-right: 10px;
padding: 4px;
border-radius: 5px;
height: 590px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}
*/
/*
.aside-nav {
display: flex;
flex-direction: column;
background: #fbfbf9;
margin-bottom: 20px;
height: 100px;
padding: 4px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}*/

/*
.aside-link {
display: flex;
flex-direction: column;
border: 2px solid green;
}*/









/*--ASIDE--*/
.aside {
float: right;
flex-direction: column;
width: 26%;
/*22% du parent "content"*/
margin-right: 10px;
padding: 4px;
border-radius: 5px;
height: 590px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-nav {
display: flex;
flex-direction: column;
background: #fbfbf9;
margin-bottom: 20px;
height: 100px;
padding: 4px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-link {
display: flex;
flex-direction: column;
border: 2px solid green;
}









/*--FOOTER--*//*
.blockfooter {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #7dc95e;
color: white;
height: 150px;
width: 100%;
}

.block {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
width: 50%;
margin-left: 80px;
}

.footer {
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-around;
align-items: center;
width: 100%;
}

.mention {
display: flex;
flex-direction: column;
text-align: left;
width: 200px;
color: blue;
}

.contact {
display: flex;
flex-direction: row;
text-align: left;
width: 200px;
color: blue;
}*/

/*a {
color: #0000ff;
text-decoration: none;
}*/

/*--*/
.titre {
display: flex;
flex-direction: row;
align-items: center;
}

.title,
strong {
color: #0000ff;
}


/*-- RESPONSIVE HEADER --*/
@media screen and (max-width: 576px) {
.header,
.menu,
.breadcrumb-item,
.blockfooter,
.block {
font-size: 12px;
}
}

@media screen  and (max-width: 768px) {
.header {
font-size: 12px;
display: flex;
flex-direction: column;
text-align: left;
max-width: 100%;
align-content: center;
}

.logo {
display: flex;
flex-direction: row;
font-size: 6.11vh;/*2.900em*/
justify-content: center;
align-items: center;
width: 100%;
margin-left: 0px !important;
}
}  

@media screen  and (max-width: 768px) {
.menu {
display: flex;
flex-direction: column;
height: 40px;
font-size: 12px;
max-width: 100%;
text-align: center;
background-color: blueviolet;
height: auto;
margin-right: 10px;/*15px*/
margin-left: 10px;/*10px*/
}
}

@media screen  and (max-width: 768px) {
.link-nav {
font-size: 12px !important;
}
}

@media screen and (max-width: 576px) {
.link,
.link-int,
menu {
font-size: 12px;
max-width: 100%;
display: flex;
flex-direction: row;
justify-content: left;
align-content: center;
align-items: center;
text-align: left;
height: 40px;
}
}


@media screen and (max-width: 208px) {
.breadcrumb-item {
/*max-width: 100%;
background: none;
margin: 10px 20px;*/
visibility: collapse;
}

.link-rep {
margin-right: 5px;
margin-left: 5px;
}
}
/*--------------------FIN DU HEADER-----------------------*/


/*------------------------------------------------------------ RESPONSIVE STRUCTURE CONTENU --*/
@media screen  and (max-width : 576px) {

.content {
display: flex;
flex-direction: column;
align-items: center;
width: 100% !important;
padding: 0px;/*5px*/
}

/*.link {
font-size: 1em;
}*/

.main,
.aside {
display: flex;
flex-direction: column;
justify-content: space-around;
width: 100%;
margin: 0px;
}

.content,
.main,
.aside {
flex-direction: column;
width: 100%;
margin: 0;
padding: 5px;/*10px*/
}

.aside {
padding: 0px;
margin-top: 10px;
}
}
/*------------------------------------------------------------------------ FIN DU CONTENU --*/
/* Media query pour les petits écrans */
@media (max-width: 768px) {
.card-img-top {
width: 100%;
height: auto;
}
}

/*@media screen and (max-width: 576px) {
.aside {
padding: 0px;
margin-top: 10px;
}
}*/



/*--------------------------------------------------------------------------FOOTER--*/
/*
@media screen and (max-width: 576px) {/*and (min-width: 320px) *//*
.block,
.contact,
.mention,
.text-dark {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
width: 100%;
margin: 0px;
}
}
*/


@media screen and (max-width: 576px) {/*and (min-width: 320px) */
.section-3,
.section-5 {
display: flex;
flex-direction: column;
}

.article5 {
margin-left: 0px;
}
}

@media screen and (max-width: 900px) {/*and (min-width: 577px) */

.section-3,
.section-5 {
display: flex;
flex-direction: column;
}
}

/*----------------------------------------------------------------------- CAROUSEL --*/
/*@media screen and (min-width: 320px) and (max-width: 799px) {
.content-carousel {
display: flex;
flex-direction: column;
/*row*//*
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 0px;
}

.section-carousel {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
/*34.375em*/
/*60%*//*
height: auto;
}

.d-block {
width: 100%;
height: 200px;
/*100px*/
/*aspect-ratio: 16/9;*//*
object-fit: cover;
}

.A {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
}*/

/*-- CAROUSEL --*/
@media screen and (min-width: 800px) and (max-width: 1300px) {
.content-carousel {
display: flex;
flex-direction: column;
/*row*/
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 0px;
}

.section-carousel {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
/*34.375em*/
/*60%*/
height: auto;
}

d-block {
aspect-ratio: 16/9;
}

.A {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
}



@media (max-width: 300px) {
/* Assurez-vous que la section principale prend toute la largeur disponible */
.main {
width: 100%;
margin-left: 0;
}

/* Adapter les sections pour qu'elles s'empilent et s'ajustent à la taille de l'écran */
.section-1,
.section-2,
.section-3 {
width: 100%;
margin: 5px 0;
height: auto;
}

/* Assurez-vous que les images suivent la taille des sections */
.card-img-top,
.img-fig {
width: 100%;
height: auto;
}

/* Ajuster la mise en page générale pour qu'elle soit plus compacte */
.content {
flex-direction: column;
justify-content: flex-start;
}

/* Ajuster les blocs d'images */
.block1-img,
.block-2-img,
.block-3 {
flex-direction: column;
width: 100%;
align-items: center;
}
}