/* Styles globaux du body */
body {
  background-position: 100% 100%;
  margin: 0;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Assure que le body prend au moins toute la hauteur de la fenêtre */
  padding: 0;
}
/* Styles pour le formulaire */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;/*40%*/
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #f8f9f8;
  padding: 10px;
}

/* Styles pour le titre du formulaire */
h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333; /* Couleur du texte du titre */
  text-align: center; /* Centre le titre horizontalement */
}

/* Styles pour la description du formulaire */
p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #555; /* Couleur du texte de la description */
  text-align: center; /* Centre la description horizontalement */
}

/* Styles pour les contrôles du formulaire */
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80%;
  background-color: #f8f9f8;
  height: auto;
  border: none;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}
input {/*, textarea */
height: 30px;
  width: 100%;
  border: 1px solid gray !important;
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  border: 1px solid gray !important;
  margin-bottom: 10px;
}

/* Styles pour la section de notation */
.form-control-rating {
  padding-top: 20px;
}
/* Styles pour les étoiles de notation */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 0em;
  margin-bottom: 0em;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.rating label::before {
  content: "\2605";
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label,
.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label {
  color: #FFD700;
}

/* selecteur ajouter */
.note {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
margin-bottom: 0px;
}

/* Styles pour le bouton de soumission */
button, .submit {
  display: block;
  width: 160px !important; /* Largeur maximale pour le bouton */
  height: 30px !important; /* Hauteur augmentée pour le bouton */
  padding: 0.75em;
  border: none;
  border-radius: 50px;
  background-color: mediumorchid !important;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
button:hover {
  background: rgb(211, 85, 163) !important; /* Couleur de survol pour le bouton */
}

/* Responsive Design pour les petits écrans */
@media (max-width: 600px) {
  .form {
      width: 95%; /* Prend presque toute la largeur de l'écran */
      padding: 15px; /* Réduit l'espace intérieur pour s'adapter aux petits écrans */
  }

  .rating label {
      font-size: 1.5em; /* Réduit la taille des étoiles sur les petits écrans */
  }

  button, .submit {
      width: 100%; /* Le bouton prend toute la largeur du formulaire */
      max-width: none; /* Supprime la largeur maximale pour les petits écrans */
  }
}













        /* Ajoutez votre CSS ici */
        /* Styles globaux du body */
        body {
            background-position: 100% 100%;
            margin: 0;
            font-size: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* Assure que le body prend au moins toute la hauteur de la fenêtre */
            padding: 0;
        }
        /* Styles pour le formulaire */
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;/*40%*/
            border: 1px solid grey;
            border-radius: 5px;
            background-color: #f8f9f8;
            padding: 10px;
        }

        /* Styles pour le titre du formulaire */
        h1 {
            font-size: 1.8em;
            margin-bottom: 10px;
            color: #333; /* Couleur du texte du titre */
            text-align: center; /* Centre le titre horizontalement */
        }

        /* Styles pour la description du formulaire */
        p {
            font-size: 1.1em;
            margin-bottom: 20px;
            color: #555; /* Couleur du texte de la description */
            text-align: center; /* Centre la description horizontalement */
        }

        /* Styles pour les contrôles du formulaire */
        .form-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            width: 80%;
            background-color: #f8f9f8;
            height: auto;
            border: none;
        }
        label {
            font-weight: bold;
            margin-bottom: 10px;
            width: 100%;
        }
        input {/*, textarea */
          height: 30px;
            width: 100%;
            border: 1px solid gray !important;
            margin-bottom: 10px;
        }
        textarea {
            width: 100%;
            border: 1px solid gray !important;
            margin-bottom: 10px;
        }

        /* Styles pour la section de notation */
        .form-control-rating {
            padding-top: 20px;
        }
        /* Styles pour les étoiles de notation */
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 0em;
            margin-bottom: 0em;
        }
        .rating input {
            display: none;
        }
        .rating label {
            font-size: 2em;
            color: #ccc;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }
        .rating label::before {
            content: "\2605";
        }
        .rating label:hover,
        .rating label:hover ~ label,
        .rating input:checked ~ label,
        .rating input:checked ~ label:hover,
        .rating input:checked ~ label:hover ~ label {
            color: #FFD700;
        }

        /* selecteur ajouter */
        .note {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          margin-bottom: 0px;
        }

        /* Styles pour le bouton de soumission */
        button, .submit {
            display: block;
            width: 160px; /* Largeur maximale pour le bouton */
            height: 30px; /* Hauteur augmentée pour le bouton */
            padding: 0.75em;
            border: none;
            border-radius: 50px;
            background-color: mediumorchid;
            color: white;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin-bottom: 20px;
        }
        button:hover {
            background: rgb(211, 85, 163); /* Couleur de survol pour le bouton */
        }

        /* Styles pour le bouton de soumission *//*
        button, .submit {
            display: block;
            width: 100%;
            max-width: 160px; /* Largeur maximale pour le bouton *//*
            height: 30px; /* Hauteur augmentée pour le bouton *//*
            padding: 0.75em;
            border: none;
            border-radius: 50px;
            background-color: mediumorchid;
            color: white;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin-top: 10px;
        }

        button:hover {
            background: rgb(211, 85, 163); /* Couleur de survol pour le bouton *//*
        }*/

        /* Responsive Design pour les petits écrans */
        @media (max-width: 600px) {
            .form {
                width: 95%; /* Prend presque toute la largeur de l'écran */
                padding: 15px; /* Réduit l'espace intérieur pour s'adapter aux petits écrans */
            }

            .rating label {
                font-size: 1.5em; /* Réduit la taille des étoiles sur les petits écrans */
            }

            button, .submit {
                width: 100%; /* Le bouton prend toute la largeur du formulaire */
                max-width: none; /* Supprime la largeur maximale pour les petits écrans */
            }
        }


