/* Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Rajdhani:wght@400;700&display=swap');
*/
/* Styles généraux */

body {
background: lightgoldenrodyellow;
background-position: 100% 100%;
font-family: 'Barlow', sans-serif;
/*line-height: 1.6;*/
/*margin: 0px;/*
font-size: 1em; /* Utilisation de l'unité relative em pour la taille de police de base */
}

/* Titres (headlines) */
h1, h2, h3, h4, h5, h6, .title {
font-family: 'Rajdhani', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
/*color: black;
background: lightgoldenrodyellow;*/
}

/*--------------------------------------------------------------------------------------------------------------------*/

.main {
  float: left;
  flex-direction: column;
  width: 70%;
  margin-left: 10px;
  background: #FBFBF9;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(128, 128, 128, 0.2);
  padding: 0;
}

/*---------------------------------------------------------------------------------------*/
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

p {
  margin-left: 0px;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 50px;
}

.title,
strong {
  color: #0000ff;
}

h2 {
  color: #0000ff;
  font-weight: 600;
  font-size: 1.5em;
}

h4 {
  margin-right: 5px;
  color: #0000ff;
}

.titre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*------------------------------------------------------------------------------------------------------IMAGES--*/

.block1-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.section1 {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90%;
  border: 2px solid white;
  margin-bottom: 30px;
}

img {
  border-radius: 5px;
}

.card-img-top {
  width: 100%;
  height: 65.89785831960461vh;
  /*400px*/
  object-fit: cover;
}


.card-img-top {
  width: 100%;/*100%*/
  height: 65.89785831960461vh;/*400px*/
  background-size: auto;
  object-fit: cover;
}

/*-- FIGAPTION --*/
figcaption {
  background-color: white;
  color: blue;
  font: italic smaller sans-serif;
  text-align: center;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  top: 30px;
  z-index: 2;
}

/*.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}*/

/*.link-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 160px;
  /*150px*//*
  border-radius: 50px;
  text-decoration: none !important;
  background-color: mediumorchid!important;/*#0145b5*//*
  color: white;
}

.link-btn:hover {
  background: rgb(211, 85, 163)!important;/*green !important*//*
}*/


.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 160px;
  border-radius: 50px;
  text-decoration: none;
  background-color: mediumorchid;
  color: white;
  margin: 20px auto;
  padding: 10px;
}

.link-btn:hover {
  background: rgb(211, 85, 163);
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*  19/06/2024 */
/*--ASIDE--*/
.aside {
  float: right;
  flex-direction: column;
  width: 26%;
  /*22% du parent "content"*/
  margin-right: 10px;
  padding: 4px;
  border-radius: 5px;
  height: 590px;
  box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-nav {
  display: flex;
  flex-direction: column;
  background: #fbfbf9;
  margin-bottom: 20px;
  height: 100px;
  padding: 4px;
  box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

/*.aside {
flex: 0 1 300px;
margin: 10px;
padding: 4px;/*10px*//*
background: #fbfbf9;
border-radius: 5px;
box-shadow: 0 0 40px rgba(128, 128, 128, 0.2);
height: 100% !important;
}*/





/*---------------------------------------------------------- RESPONSIVE STRUCTURE CONTENU --*/
@media screen  and (max-width : 576px) {

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  padding: 0px;/*5px*/
}

/*.link {
font-size: 1em;
}*/

.main,
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
}

.content,
.main,
.aside {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 5px;/*10px*/
}

.aside {
  padding: 0px;
  margin-top: 10px;
}
}
/*------------------------------------------------------------------------ FIN DU CONTENU --*/

/*********************************/
/*BOUTON RESPONSIVE*/
@media (max-width: 768px) {
  .link-btn {
  font-size: 14px;
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}
}

@media (max-width: 480px) {
.link-btn {
  font-size: 12px;
  padding: 6px 10px;
}
}
/*********************************/

/*------------------------------------------------------------------------ FIN DU CONTENU --*/
/* Media query pour les petits écrans */
@media (max-width: 768px) {
.card-img-top {
  width: 100%;
  height: auto;
}
}

@media (max-width: 576px) {
/*20/06/2024 .logo {
  font-size: 40px;
  text-align: center;
  width: 100%;
}
*/
.link-btn {/*
  width: 100%;
  height: 30px;*//*auto*/
  padding: 10px 0;
}
  
.link-btn {
  font-size: 1.0em;
}

.title {
  font-size: 1.2em;
}

.titre {
  font-size: 0.8em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 0.8em;
}

h5 {
  font-size: 1em;
}

a {
  font-size: 0.8em;
}
}

/*-- RESPONSIVE --*/

/* Media query pour les petits écrans */
@media (max-width: 768px) {
.card-img-top {
  width: 100%;
  height: auto;
}
}

/*@media screen  and (max-width : 576px) {
/*.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
  }*/
  /*
  .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;/*5px*//*
}
*/
/*.link {
font-size: 1em;
}*/
/*
.main,
.aside {
display: flex;
flex-direction: column;
justify-content: space-around;
width: 100%;
margin: 0px;
}

.content,
.main,
.aside {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 5px;/*10px*//*
}

.aside {
padding: 0px;
margin-top: 10px;
}

.aside {
padding: 10px;
margin-top: 10px;
}

}*/

/*********************************************************************************************/

/*-- FONTS --*//*
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/rajdhani-v14-latin-500.woff2') format('woff2'),
        url('assets/fonts/rajdhani-v14-latin-500.woff') format('woff');
}

@font-face {
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
src: url('assets/fonts/barlow-v5-latin-400.woff2') format('woff2'),
      url('assets/fonts/barlow-v5-latin-400.woff') format('woff');
}

@font-face {
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
src: url('assets/fonts/barlow-v5-latin-500.woff2') format('woff2'),
      url('assets/fonts/barlow-v5-latin-500.woff') format('woff');
}

@font-face {
font-family: 'Tangerine';
font-style: normal;
font-weight: 400;
src: url('../assets/fonts/tangerine-v17-latin-regular.woff2') format('woff2'),
      url('../assets/fonts/tangerine-v17-latin-regular.woff') format('woff');
}

@font-face {
font-family: 'Tangerine';
font-style: normal;
font-weight: 700;
src: url('../assets/fonts/tangerine-v17-latin-700.woff2') format('woff2'),
      url('../assets/fonts/tangerine-v17-latin-700.woff') format('woff');
}*/

/*
</style>

<!--STYLE-CSS-->
<style>
*/

/*-----------------------------------------------------------------------------------------------------ARTICLE--*/
/*

/*.btn-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
}*/



/*article {
  display: flex;
  flex-direction: column;
  padding: 10px;
}*/



/*---------------------------------------------------------------------------------------------------FIGAPTION--*/
/*
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    text-align: center;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
  }
  img {
    border-radius: 5px;
  }*/

/*-------------------------------------------------------------------------------------------------------ASIDE--*/
/*20/06/2024
.aside {
  float: right;
  flex-direction: column;
  width: 26%;
  /*22% du parent "content"*/ /*
  margin-right: 10px;
  padding: 4px;
  border-radius: 5px;
  height: 590px;
  box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}*/
/*
.aside-nav {
  display: flex;
  flex-direction: column;
  background: #fbfbf9;
  margin-bottom: 20px;
  height: 100px;
  padding: 4px;
  box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-link {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}  */

/*------------------------------------------*/
/*
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 160px;
  border-radius: 50px;
  text-decoration: none;
  background-color: mediumorchid;
  color: white;
  margin: 20px auto;
  padding: 10px;
}

.link-btn:hover {
  background: rgb(211, 85, 163);
}*/





/*-------------------------------------------------------------------------------------------------------ASIDE--*/



/* Styles généraux *//*
body {
background: lightgoldenrodyellow;
background-position: 100% 100%;
font-family: 'Barlow', sans-serif;
/*line-height: 1.6;*/
/*margin: 0px;/*
font-size: 1em; /* Utilisation de l'unité relative em pour la taille de police de base *//*
}

/* Titres (headlines) *//*
h1, h2, h3, h4, h5, h6, .title {
font-family: 'Rajdhani', sans-serif;
}

/*--CONTENT--*//*
.content {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
}

/*--MAIN--*//*
.main {
float: left;
flex-direction: column;
width: 70%;
/*70% du parent "content"*//*
margin-left: 10px;
background: #fbfbf9;
align-items: center;
border-radius: 5px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

/*--ASIDE--*//*
.aside {
float: right;
flex-direction: column;
width: 26%;
/*22% du parent "content"*//*
margin-right: 10px;
padding: 4px;
border-radius: 5px;
height: 590px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-nav {
display: flex;
flex-direction: column;
background: #fbfbf9;
margin-bottom: 20px;
height: 100px;
padding: 4px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-link {
display: flex;
flex-direction: column;
border: 2px solid green;
}

/*-- BTN --*//*
.btn-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
width: 100%;
margin-bottom: 10px;
padding: 20px;
}

.link-btn {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30px;
width: 400px; /*150px*//*160px*//*
border-radius: 50px;
text-decoration: none !important;
background-color:mediumorchid!important;/*#0145b5*/ /*
color: white;
}

.link-btn:hover {
background-color:rgb(211, 85, 163)!important;/*green*//*
}

h1 {
display: flex;
justify-content: center;
text-align: center;
}

h2, title {
color: #0000ff;
font-weight: 600;
font-size: 1.5em;
}

.section-article {/*.hero-section *//*src="./images3/pixelcut-export.jpeg"**/
/*background: url('path/to/your/image.jpg') no-repeat center center/cover;*/
/*image de font
background: url('../images3/pixelcut-export.jpeg') no-repeat center center/cover;
height: 60vh;
*//*
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
color: white;
color: blue;
padding: 20px;
}

/*.title {/*.hero-title *//*
font-size: 3em;
margin-bottom: 0.5em;
}*/
/*
.subtitle {/*.hero-subtitle *//*
font-size: 1.5em;
margin-bottom: 1em;
}

.subtitle {
display: flex;
justify-content: center;
text-align: center;
margin-top: 12px;
margin-bottom: 15px; /*50px*//*
color: #0000ff;
}

p {
margin-left: 0px;
color: black;
}

p , .article {
display: flex;
flex-direction: column;
/*align-items: left;*//*
text-align: justify;
padding: 10px;
margin-bottom: 20px;
margin-left: 10px;
}

.title,
strong {
color: #0000ff;
}
/*--*//*
hr {
height: 2px;
color: blue;
}

/*-- IMAGES --*//*
.block-img {
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
align-items: center;
width: 100%;
}

.section {
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
width: 90%;
border: 2px solid white;
margin-bottom: 30px;
}

img {
border-radius: 5px;
border: 1px solid blue;
}
*/











/*
.aside {
flex: 0 1 300px;
margin: 10px;
padding: 10px;
background: #fbfbf9;
border-radius: 5px;
box-shadow: 0 0 40px rgba(128, 128, 128, 0.2);
}

/* aside desactiver */
/*.aside {
float: right;
flex-direction: column;
width: 26%;
margin-right: 10px;
padding: 4px;
border-radius: 5px;
height: 590px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}*/
/*
.aside-nav {
display: flex;
flex-direction: column;
background: #fbfbf9;
margin-bottom: 20px;
height: 100px;
padding: 4px;
box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.2);
}

.aside-link {
display: flex;
flex-direction: column;
border: 2px solid green;
}
*/
/*------------------------------------------------------------------------------------------------------FOOTER--*/
/*20/06/2024
.blockfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #7dc95e;
  color: white;
  height: 150px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin-left: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mention {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  color: blue;
}

.contact {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 200px;
  color: blue;
}

a {
  /*display: flex;
    z-index: 2;*/ /*
  color: #0000ff;
  text-decoration: none;
} */

/*-------------------------------------------------------MEDIA QUERY--------------------------------------------*/
/*20/06/2024
@media screen  and (min-width: 576px) {/*and (max-width: 320px)*/ /*

  .menu,
  .breadcrumb-item,
  .link-nav,
  nav {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 100%;
  }
}*/

/*--------------------------------------------------------------------------------------------------NAVIGATION--*/
/*20/06/2024
@media screen and (max-width: 576px) {

  .link-int,
  span,
  menu {
    font-size: 12px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
    text-align: left;
    height: 40px;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}*/

/*--------------------------------------------------------------------------------------------------------MENU--*/
/*@media screen and (min-width: 320px) and (max-width: 576px) {
    .menu {
      display: flex;
      flex-direction: row;
      height: 40px;
      font-size: 12px;
      max-width: 100%;
      text-align: center;
    }
  }*/
/*20/06/2024
@media screen  and (max-width: 768px) {/*and (min-width: 320px)*/ /*
  .menu {
    display: flex;
    flex-direction: column;
    height: 40px;
    font-size: 12px;
    max-width: 100%;
    text-align: center;
    background-color: blueviolet;
    height: auto;
    margin-right: 15px;
    margin-left: 10px;
  }
} */

/*-----------------------------------------------------------------------------------------------------CONTENT--*/
/*20/06/2024
@media screen  and (max-width: 576px) {/*and (min-width: 220px)*//*
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
  }
}*/
/* 20/06/2024
@media screen  and (max-width: 576px) {/*and (min-width: 320px)*/  /*

  .main,
  .aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 0px;
  }
}*/

/*------------------------------------------------------------------------------------------------FIL D'ARIANE--*/
/*20/06/2024
@media screen and (min-width: 320px) and (max-width: 576px) {
  .breadcrumb {
    width: 100%;
  }
}*/

/*------------------------------------------------------------------------------------------------------FOOTER--*/

/* @media screen  and (max-width: 576px) {
  .block,
  .contact,
  .mention,
  .text-dark {
    display: flex;
    flex-direction: column;/*row*//*
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px;
  }
}*/

/* 20/06/2024
@media screen  and (max-width: 576px) {/*and (min-width: 320px)*/ /*
  .aside {
    padding: 0px;
    margin-top: 10px;
  }
}*/

/*-------------------------------------------------------------*/
